// Global Head Elements
  * {
    box-sizing: border-box;
  }

// Global Body Elements
  img {
    width: 100%;
  }

// Global Classes
  .group {
    display: flex;
    gap: $sp20;
    align-items: center;
  }