// Media Queries
  $ssPhone:         425px;
  $ssTablet:        768px;
  $ssLaptop:        1024px;
  $ssDesktop:       1440px;
  $ss4k:            2560px;

// Spacing    
  $sp5:             0.3125rem;
  $sp10:            0.625rem;
  $sp20:            1.25rem;
  $sp40:            2.5rem;
  $sp80:            5rem;
  $sp160:           10rem;

// Colors
  $clBlack:        #111;
  $clGrayDark:    #333;
  $clGrayLight:   #BBB;
  $clWhite:       #FFF;
  $clGreen:       #E5EA00;

// Type
  $ffPrimary:       'Sora', sans-serif;
  $fwLight:         300;
  $fwNormal:        400;