/* **
    Tokens
 * **/

@use 'sass:math';

// Media Queries
  $ssPhone:         425px;
  $ssTablet:        768px;
  $ssLaptop:        1024px;
  $ssDesktop:       1440px;
  $ss4k:            2560px;

// Spacing    
  $sp5:             0.3125rem;
  $sp10:            0.625rem;
  $sp20:            1.25rem;
  $sp40:            2.5rem;
  $sp60:            3.75rem;
  $sp80:            5rem;
  $sp160:           10rem;
  $sp320:           20rem;

// Colors
  $clBlack:        #111;
  $clGrayDark:     #333;
  $clGrayLight:    #BBB;
  $clWhite:        #FFF;
  $clGreen:        #E5EA00;

// Type
  $ffPrimary:       'Sora', sans-serif;

  $fs96:            6rem;
  $fs80:            5rem;
  $fs64:            4rem;
  $fs48:            3rem;
  $fs36:            2.25rem;
  $fs32:            2rem;
  $fs24:            1.5rem;
  $fs20:            1.25rem;
  $fs16:            1rem;
  $fs14:            0.875rem;
  
  $fwLight:         300;
  $fwNormal:        400;