/* **
    Tokens
 * **/

@use 'sass:math';

// Media Queries
  $ssPhone:         425px;
  $ssTablet:        768px;
  $ssLaptop:        1024px;
  $ssDesktop:       1440px;
  $ss4k:            2560px;

// Spacing    
  $sp5:             0.3125rem;
  $sp10:            0.625rem;
  $sp20:            1.25rem;
  $sp40:            2.5rem;
  $sp80:            5rem;
  $sp160:           10rem;
  $sp320:           20rem;

// Colors
  $clBlack:        #111;
  $clGrayDark:     #333;
  $clGrayLight:    #BBB;
  $clWhite:        #FFF;
  $clGreen:        #E5EA00;

// Type
  $ffPrimary:       'Sora', sans-serif;

  $fsRoot:          16;
  $fsXXXL:          6rem; //96
  $fsXXL:           5rem; //80
  $fsXL:            4rem; //64
  $fsLarge:         3rem; //48
  $fsXM:            2.25rem; //36
  $fsMedium:        2rem; //32
  $fsBook:          1.5rem; //24
  $fsSmall:         1rem; //16
  
  $fwLight:         300;
  $fwNormal:        400;