@import "../../../node_modules/rfs/scss.scss";
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400&display=swap');

html {
  font-size: 16px;
  font-family: $ffPrimary;
  font-weight: $fwLight;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;
}

// Links
  a {
    color: $clBlack;
    font-weight: $fwLight;
    text-decoration: none;
  }

// Headers
  h1, h2, h3, h4, h5, h6 {
    font-weight: $fwLight;
    line-height: 1;
    margin: 0 0 $sp20;
  }
  .h1 {
    @include font-size($fsXXXL);
    letter-spacing: -0.2rem;
    margin-left: -4px;
    @media screen and (min-width: $ssLaptop) {
      margin-left: -4px;
    }
  }
  .h2 {
    @include font-size($fsXM);
    letter-spacing: -0.1rem;
    margin-left: -2px;
    @media screen and (min-width: $ssLaptop) {
      margin-left: -1px;
    }
  }
  .h3 {
    @include font-size($fsMedium);
    letter-spacing: -0.1rem;
    margin-left: 0px;
    @media screen and (min-width: $ssLaptop) {
      margin-left: 0;
    }
  }
  .h4 {
    @include font-size($fsBook);
    letter-spacing: -0.1rem;
    margin-left: -3px;
    @media screen and (min-width: $ssLaptop) {
      margin-left: 0;
    }
  }
  .h5 {
    @include font-size($fsSmall);
    letter-spacing: -0.1rem;
    margin-left: -2px;
    @media screen and (min-width: $ssLaptop) {
      margin-left: 0px;
    }
  }
  .h-mb-0 {
    margin-bottom: 0;
  }

// Paragraphs
  p {
    margin: 0 0 $sp10;
    @include font-size($fsBook);
  }
  .p-small {
    @include font-size($fsSmall);
    font-weight: $fwLight;
  }
  .p-large {
    @include font-size($fsMedium);
    font-weight: $fwLight;
    p {
      margin: 0 0 $sp40;
    }
  }
  .p-gray {
    color: $clGrayLight;
  }