@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400&display=swap');

.global-main {
  font-family: $ffPrimary;
}

a {
  color: $clBlack;
  font-weight: $fwLight;
  text-decoration: none;
}