@import "../../../node_modules/rfs/scss.scss";
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400&display=swap');

html {
  font-size: 16px;
  font-family: $ffPrimary;
  font-weight: $fwLight;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}

// Links
  a {
    color: $clBlack;
    font-weight: $fwLight;
    text-decoration: none;
  }
  a.link-underline {
    @extend a;
    text-decoration: underline;
  }
  a.link-large {
    @extend a;
    @include font-size($fs14);
    @media screen and (min-width: $ssLaptop) {
      @include font-size($fs24);
    }
  }

// Headers
  h1, h2, h3, h4, h5, h6 {
    font-weight: $fwLight;
    margin: 0 0 $sp20;
  }
  .h1 {
    @include font-size($fs48);
    margin-left: -2px;
    @media screen and (min-width: $ssLaptop) {
      @include font-size($fs96);
      margin-left: -4px;
    }
  }
  .h2 {
    @include font-size($fs20);
    margin-left: 0;
    @media screen and (min-width: $ssLaptop) {
      @include font-size($fs36);
      margin-left: -1px;
    }
  }
  .h3 {
    @include font-size($fs14);
    margin-left: 0;
    @media screen and (min-width: $ssLaptop) {
      @include font-size($fs24);
      margin-left: 0;
    }
  }
  .h-mb-0 {
    margin-bottom: 0;
  }

// Paragraphs
  p {
    margin: 0;
    @include font-size($fs14);
    & + p {
      margin: $sp20 0 0 0;
    }
    @media screen and (min-width: $ssLaptop) {
      @include font-size($fs24);
    }
  }
  .p-large {
    font-weight: $fwLight;
    @include font-size($fs20);
    @media screen and (min-width: $ssLaptop) {
      @include font-size($fs36);
    }
    p {
      margin: 0 0 $sp40;
    }
  }
  .p-gray {
    color: $clGrayLight;
  }

// Spans
  .s-underline-white {
    box-shadow: inset 0 -3px 0 $clWhite;
    @media screen and (min-width: $ssLaptop) {
      box-shadow: inset 0 -6px 0 $clWhite;
    }
  }