// Media Query Visibility
  .ssPhone-hide {
    display: none !important;
    @media screen and (min-width: $ssPhone) {
      display: inline-block !important;
    }
  }

  .ssTablet-down-hide {
    display: none !important;
    @media screen and (min-width: $ssTablet) {
      display: inline-block !important;
    }
  }

  .ssLaptop-down-hide {
    display: none !important;
    @media screen and (min-width: $ssLaptop) {
      display: inline-block !important;
    }
  }

// Flex & Grid Options
  .align-start {align-items: start;}
  .align-center {align-items: center;}
  .align-end {align-items: end;}

  .justify-start {align-items: start;}
  .justify-center {align-items: center;}
  .justify-end {justify-content: end;}

  .align-self-start {align-self: start;}
  .align-self-center {align-self: center;}
  .align-self-end {align-self: end;}

// Margin and Padding Options
  .margin-0 {margin: 0}
  .padding-0 {padding: 0}

  .margin-b-0 {margin-bottom: 0}
  .padding-b-0 {margin-bottom: 0}
  .margin-t-0 {margin-top: 0}
  .padding-t-0 {padding-top: 0}
  .margin-y-0 {margin-top: 0; margin-bottom: 0;}
  .padding-y-0 {padding-top: 0; padding-bottom: 0;}

// Breaks
  .break-mobile {
    display: inline-block;
    width: 100%;
    @media screen and (min-width: $ssLaptop) {
      display: inline;
    }
  }