.accordion {

}
.accordion-item {
  @extend .grid-y-medium;
  @include bottom-border($color: $clWhite);
  padding: $sp40 0;
  position: relative;
  .accordion-content {
    transition: max-height 600ms ease;
    /* closed */
    max-height: 0;
    /* opened */
    &.open {
      max-height: 600px; /* arbitrary, will go to 100% height max */
      transition: max-height 200ms ease;
      &:after {
        content: "\f4bf";
      }
    }
    &:after {
      content: "\f531";
      font: normal normal normal 1em/1 "Phosphor";
      @include font-size(36px);
      color: inherit;
      flex-shrink: 0;
      speak: none;
      text-transform: none;
      text-decoration: inherit;
      text-align: center;
      -webkit-font-smoothing: antialiased;
      @include vertical-center;
      right: 0;
      z-index: 0;
      position: absolute;
      top: 15px;
      right: 0;
      @media screen and (min-width: $ssLaptop) {
        top: 60px;
      }
    }
  }
  label {
    width: 100%;
    overflow: hidden;
  }
}
.accordion-panel {
  cursor: pointer;
  @extend .grid;
  gap: $sp10 $sp40;
  @include grid-column(1,4);
  position: relative;
  @media screen and (min-width: $ssLaptop) {
    @include grid-column(1,14);
  }
}
.accordion-header {
  @include grid-column(1,4);
  @media screen and (min-width: $ssLaptop) {
    @include grid-column(1,14);
  }
}
.accordion-content {
  // display: none;
  overflow: hidden;
  padding: $sp20 0 0 0;
  @include grid-column(1,4);
  @media screen and (min-width: $ssLaptop) {
    padding: $sp40 0 0 0;
    @include grid-column(6,7);
  }
}
