// Avatars
  .avatar {
    border-radius: 36px;
    margin-right: $sp10;
    overflow: hidden;
    height: 36px;
    width: 36px;
    @media screen and (min-width: $ssTablet) {
      margin-top: $sp5;
    }
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  .avatar-large {
    border-radius: 72px;
    overflow: hidden;
    height: 72px;
    width: 72px;
  }

  .avatar-group {
    @extend .group;
    .avatar {
      margin: 0;
    }
  }