.card {
  border: 1px solid $clGrayLight;
  border-radius: $sp10;
  width: 100%;
  &:hover {
    border: 1px solid $clBlack;
  }
}
.card-inner {
  padding: $sp20;
}

.card-resource {
  a {
    text-decoration: none;
  }
  .card-top {
    border-bottom: 1px solid $clGrayLight;
    padding: $sp20;
    @media screen and (min-width: $ssLaptop) {
      padding: $sp40;
    }
  }
  .card-bottom {
    padding: $sp20 $sp20;
    @media screen and (min-width: $ssLaptop) {
      padding: $sp20 $sp40;
    }
  }
  &:hover {
    a {
      text-decoration: underline;
    }
    .card-top {
      border-bottom: 1px solid $clBlack;
    }
  }
}

.card > img {
  margin: 0 0 $sp20 0;
}
.card-person {
  margin: 0 0 $sp40 0;
}
.card-header {
  display: flex;
  flex-wrap: wrap;
  gap: 0;
  & > * {
    width: 100%;
  }
}
.card-color {
  display: flex;
  flex-direction: column;
  justify-content: flext-start;
  gap: $sp10;
  padding: $sp40 $sp20;
  color: $clBlack;
  & > * {
    color: $clBlack !important;
  }
  @media screen and (min-width: $ssLaptop) {
    gap: $sp10;
    padding: $sp80 $sp40;
  }
}
.card-color-yellow {
  @extend .card-color;
  background: $clYellow;
}
.card-color-orange {
  @extend .card-color;
  background: $clOrange;
}
.card-color-blue {
  @extend .card-color;
  background: $clBlue;
}