// Carousel
  $heightMobile: 400px;
  $heightDesktop: 900px;
  $widthMobile: 200px;
  $widthDesktop: 800px;

  .carousel {
    @extend .grid;
    height: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
    width: 100%;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    @media screen and (min-width: $ssPhone) {
      height: $heightMobile;
    }
    @media screen and (min-width: $ssLaptop) {
      height: $heightDesktop;
    }
  }
  .carousel::-webkit-scrollbar {
    display: none;
  }
  .carousel-track {
    list-style: none;
    @include grid-column(1,4);
    display: flex;
    flex-wrap: wrap;
    gap: $sp20;
    height: 100%;
    margin: 0;
    padding: 0 $sp20 0 $sp20;
    width: 100%;
    @media screen and (min-width: $ssPhone) {
      flex-wrap: nowrap;
    }
    @media screen and (min-width: $ssLaptop) {
      width: auto;
      position: absolute;
      @include grid-column(1,12);
      gap: $sp40;
      padding: 0 $sp160 0 $sp320;
    }
  }
  .carousel-element {
    width: 100%;
    height: $heightMobile;
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
    @media screen and (min-width: $ssPhone) {
      width: 50vw;
    }
    @media screen and (min-width: $ssLaptop) {
      width: $widthDesktop;
      height: $heightDesktop;
    }
  }