// Content

  .content-wide {
    @include grid-column(1,4);
    @media screen and (min-width: $ssLaptop) {
      @include grid-column(1,14);
    }
  }
  .content-full {
    @include grid-column(1,4);
    @media screen and (min-width: $ssLaptop) {
      @include grid-column(2,12);
    }
  }
  .content-normal {
    @include grid-column(1,4);
    @media screen and (min-width: $ssLaptop) {
      @include grid-column(3,10);
    }
  }
  .content-narrow {
    @include grid-column(1,4);
    @media screen and (min-width: $ssLaptop) {
      @include grid-column(4,8);
    }
  }
  .content-half {
    @include grid-column(1,4);
    & + .content-half {
      @include grid-column(1,4);
    } 
    @media screen and (min-width: $ssLaptop) {
      @include grid-column(2,6);
      & + .content-half {
        @include grid-column(8,6);
      } 
    }
    .content-header {
      margin-bottom: $sp40;
    }
  }
  .content-thirds {
    @include grid-column(1,4);
    & + .content-thirds {
      @include grid-column(1,4);
    } 
    @media screen and (min-width: $ssLaptop) {
      &:nth-child(1) {
        @include grid-column(2,4);
      }
      &:nth-child(2) {
        @include grid-column(6,4);
      }
      &:nth-child(3) {
        @include grid-column(10,4);
      }
    }
  }
  .content-sidebar {
    @include grid-column(1,4);
    @media screen and (min-width: $ssLaptop) {
      @include grid-column(2,3);
    }
  }
  .content-sidebar-aside {
    margin: 0 0 $sp40 0;
  }
  .content-post-sidebar {
    @include grid-column(1,4);
    @media screen and (min-width: $ssLaptop) {
      @include grid-column(6,7);
    }
  }
  .content-header-bordered {
    @include bottom-border();
    padding-bottom: $sp10;
    margin-bottom: $sp10;
  }
  .content-inner {
    margin-bottom: 0;
    & + .content-inner {
      margin-top: $sp40;
    }
  }
  .content-subgrid-thirds {
    @extend .grid;
    gap: 0;
    grid-template-columns: 1fr;
    @media screen and (min-width: $ssLaptop) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  .content-text {
    p {
      margin-bottom: 0;
    }
    p + p {
      margin-top: $sp20;
    }
  }