// Content

  .content-wide {
    @include grid-column(1,4);
    @media screen and (min-width: $ssLaptop) {
      @include grid-column(1,12);
    }
  }
  .content-full {
    @include grid-column(1,4);
    @media screen and (min-width: $ssLaptop) {
      @include grid-column(2,10);
    }
  }
  .content-normal {
    @include grid-column(1,4);
    @media screen and (min-width: $ssLaptop) {
      @include grid-column(3,8);
    }
  }
  .content-narrow {
    @include grid-column(1,4);
    @media screen and (min-width: $ssLaptop) {
      @include grid-column(4,6);
    }
  }
  .content-50 {
    @include grid-column(1,4);
    & + .content-50 {
      @include grid-column(1,4);
    } 
    @media screen and (min-width: $ssLaptop) {
      @include grid-column(2,5);
      & + .content-50 {
        @include grid-column(7,5);
      } 
    }
  }
  .content-sidebar {
    @include grid-column(1,4);
    @media screen and (min-width: $ssLaptop) {
      @include grid-column(2,3);
    }
  }
  .content-sidebar-aside {
    margin: 0 0 $sp40 0;
  }
  .content-post-sidebar {
    @include grid-column(1,4);
    @media screen and (min-width: $ssLaptop) {
      @include grid-column(5,6);
    }
  }
  .content-header {
    @include bottom-border();
    padding-bottom: $sp10;
    margin-bottom: $sp10;
  }
  .content-inner {
    margin: 0 0 $sp40;
  }