.global-footer {
  @extend .grid-y-small;
  align-items: center;
  height: auto;
  padding: $sp80 $sp20;
  @media screen and (min-width: $ssLaptop) {
    padding: $sp20 $sp40;
  }
}
.global-footer-contact {
  @include grid-column(1,4);
  @media screen and (min-width: $ssLaptop) {
    @include grid-column(2,10);
    padding: $sp80 0;
  }
}
.global-footer-copyright {
  @include grid-column(1,2);
  @media screen and (min-width: $ssLaptop) {
    @include grid-column(2,4);
  }
}
.global-footer-rights {
  display: none;
  @media screen and (min-width: $ssLaptop) {
    display: block;
    @include grid-column(6,3);
  }
}
.global-footer-email {
  display: block;
  margin: 0 0 $sp40 0;
  @media screen and (min-width: $ssLaptop) {
    margin: 0 0 $sp40 -5px;
    white-space: nowrap;
  }
  span {
    @include font-size($fs96);
  }
  span:last-child {
    position: relative;
    @include translate(0,-10px);
    @media screen and (min-width: $ssLaptop) {
      @include translate(0,0);
    }
  }
}
.global-footer-slogan {
  @include grid-column(3,2);
  justify-self: end;
  white-space: nowrap;

  & > * {
    display: inline;
  }
  
  @media screen and (min-width: $ssLaptop) {
    @include grid-column(9,3);
    justify-self: normal;
  }
}