.global-header {
  @extend .grid;
  padding: $sp20 $sp20;
  @media screen and (min-width: $ssLaptop) {
    padding: $sp40 $sp40;
  }
}
.global-header--logo {
  @media screen and (min-width: $ssLaptop) {
    @include grid-column(2,2);
  }
  svg {
    height: 48px;
    width: 110px;
  }
}
.global-header--nav {
  @media screen and (min-width: $ssLaptop) {
    @include grid-column(10,2);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: $sp5;
  }
}