.hero-home {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 0.5s ease-in-out;
  &-version0 {
    background: radial-gradient(61.77% 95.56% at 22.77% 80.08%, #E5EA00 0%, #FF7B51 15.95%, #5177FD 41.03%, #111111 80.7%);
  }
  &-version1 {
    background: radial-gradient(61.77% 95.56% at 22.77% 80.08%, #E5EA00 0%, #FF7B51 28.37%, #5177FD 50.49%, #111111 80.7%);
  }
  &-version2 {
    background: radial-gradient(61.77% 95.56% at 22.77% 80.08%, #E5EA00 0%, #FF7B51 34.05%, #5177FD 58.6%, #111111 85.24%);
  }
  &-version3 {
    background: radial-gradient(61.77% 95.56% at 22.77% 80.08%, #E5EA00 0%, #FF7B51 39.15%, #5177FD 65.91%, #111111 95.78%);
  }
  &-version4 {
    background: radial-gradient(69.56% 107.61% at 22.77% 80.08%, #E5EA00 0%, #FF7B51 39.15%, #5177FD 65.91%, #111111 95.78%);
  }
  &-version5 {
    background: radial-gradient(76.32% 118.07% at 22.77% 80.08%, #E5EA00 0%, #FF7B51 39.15%, #5177FD 65.91%, #111111 95.78%);
  }
  &-version6 {
    background: radial-gradient(87.11% 134.76% at 22.77% 80.08%, #E5EA00 0%, #FF7B51 42.47%, #5177FD 68.25%, #111111 95.78%);
  }
  &-version7 {
    background: radial-gradient(96.24% 148.88% at 22.77% 80.08%, #E5EA00 0%, #FF7B51 42.47%, #5177FD 68.25%, #111111 95.78%);
  }
  &-version8 {
    background: radial-gradient(105.01% 162.46% at 22.77% 80.08%, #E5EA00 0%, #FF7B51 42.47%, #5177FD 68.25%, #111111 95.78%);
  }
  &-version9 {
    background: radial-gradient(139.7% 216.12% at 22.77% 80.08%, #E5EA00 0%, #FF7B51 42.47%, #5177FD 68.25%, #111111 95.78%);
  }
  &-version10 {
    background: radial-gradient(139.7% 216.12% at 22.77% 80.08%, #E5EA00 0%, #FF7B51 42.47%, #5177FD 68.25%, #111111 95.78%);
  }
}
