// Hero Components
  .hero {
    @include bottom-border();
    padding: $sp40 $sp20;
    @media screen and (min-width: $ssLaptop) {
      padding: $sp80 $sp40;
    }
  }
  .hero-image {
    height: 400px;
    width: 100%;
    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
    @media screen and (min-width: $ssLaptop) {
      height: 800px;
    }
  }
  .hero-home {
    align-items: flex-end;
    padding-top: $sp225;
    position: relative;
    @media screen and (min-width: $ssLaptop) {
      height: 100vh;
      padding-top: 0;
    }
    & * {
      color: $clWhite;
    }
    & > * {
      position: relative;
      z-index: 10;
    }
  }
  .hero-home-left {
    svg {
      width: 100%;
    }
    p {
      margin-bottom: $sp20;
      margin-left: -4px;
      letter-spacing: -0.07rem;
    }
  }
  .hero-home-right {
    p {
      padding-bottom: $sp60;
    }
  }
  .hero-home-img {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }