// Hero Components
  .hero {
    @include bottom-border();
    @extend .section;
  }
  .hero-image {
    height: 400px;
    width: 100%;
    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
    @media screen and (min-width: $ssLaptop) {
      height: 800px;
    }
  }