.hero-home {
  background-attachment: fixed;
  transition: background 0.5s ease-in-out;
  @media screen and (min-width: $ssLaptop) {
    background-position: left 30% bottom 20%;
    background-size: 100vw 100vh;
    &-version0 {
      background-image: radial-gradient(61.77% 95.56% at 22.77% 80.08%, #E5EA00 0%, #FF7B51 15.95%, #5177FD 41.03%, #111111 80.7%);
    }
    &-version1 {
      background-image: radial-gradient(61.77% 95.56% at 22.77% 80.08%, #E5EA00 0%, #FF7B51 34.05%, #5177FD 58.6%, #111111 85.24%);
    }
    &-version2 {
      background-image: radial-gradient(69.56% 107.61% at 22.77% 80.08%, #E5EA00 0%, #FF7B51 39.15%, #5177FD 65.91%, #111111 95.78%);
    }
    &-version3 {
      background-image: radial-gradient(87.11% 134.76% at 22.77% 80.08%, #E5EA00 0%, #FF7B51 42.47%, #5177FD 68.25%, #111111 95.78%);
    }
    &-version4 {
      background-image: radial-gradient(105.01% 162.46% at 22.77% 80.08%, #E5EA00 0%, #FF7B51 42.47%, #5177FD 68.25%, #111111 95.78%);
    }
    &-version5 {
      background-image: radial-gradient(139.7% 216.12% at 22.77% 80.08%, #E5EA00 0%, #FF7B51 42.47%, #5177FD 68.25%, #111111 95.78%);
    }
  }
  @media screen and (max-width: $ssLaptop) {
    background-position: left 25% top 88%;
    &-version0 {
      background-image: radial-gradient(123.91% 69.81% at 22.5% 86.8%, #E5EA00 0%, #FF7B51 12.9%, #5177FD 31.82%, #111111 45.04%);
      background-size: 150vw 150vh;
    }
    &-version1 {
      background-image: radial-gradient(123.91% 69.81% at 22.5% 86.8%, #E5EA00 0%, #FF7B51 23.1%, #5177FD 40.94%, #111111 57.16%);
      background-size: 150vw 150vh;
    }
    &-version2 {
      background-image: radial-gradient(123.91% 69.81% at 22.5% 86.8%, #E5EA00 0%, #FF7B51 37.25%, #5177FD 58.87%, #111111 72.57%);
      background-size: 200vw 250vh;
    }
    &-version3 {
      background-image: radial-gradient(123.91% 69.81% at 22.5% 86.8%, #E5EA00 0%, #FF7B51 31.8%, #5177FD 62.69%, #111111 81.98%);
      background-size: 200vw 250vh;
    }
    &-version4 {
      background-image: radial-gradient(123.91% 69.81% at 22.5% 86.8%, #E5EA00 0%, #FF7B51 54.4%, #5177FD 77.19%, #111111 88.94%);
      background-size: 300vw 400vh;
    }
    &-version5 {
      background-image: radial-gradient(123.91% 69.81% at 22.5% 86.8%, #E5EA00 0%, #FF7B51 56.38%, #5177FD 98.43%, #111111 100%);
      background-size: 300vw 400vh;
    }
  }
}
.hero-home {
  align-items: flex-end;
  height: 300vh;
  padding-top: $sp225;
  position: fixed;
  bottom: 0;
  top: 0;
  overflow: hidden;
  align-content: end;
  z-index: -1;
  @media screen and (min-width: $ssLaptop) {
    padding-top: 0;
  }
  & * {
    color: $clWhite;
  }
  & + Section {
    margin-top: 300vh;
    z-index: 100;
  }
  & > * {
    position: relative;
  }
}
.hero-home-left {
  transform: translateY(-200vh);
  svg {
    max-width: 420px;
    width: 100%;
  }
  p {
    margin-bottom: $sp20;
    margin-left: -4px;
    letter-spacing: -0.07rem;
  }
  @media screen and (min-width: $ssLaptop) {
    svg {
      max-width: 100%;
      padding-bottom: $sp20;
    }
  }
}
.hero-home-right {
  transform: translateY(-200vh);
  p {
    padding-bottom: $sp40;
  }
  @media screen and (min-width: $ssLaptop) {
    p {
      padding-bottom: $sp20;
    }
  }
  @media screen and (min-width: $ssDesktop) {
    p {
      padding-bottom: $sp60;
    }
  }
}
.hero-home-img {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 0;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
