// Images
  .image-rounded {
    border-radius: $sp40;
    @media screen and (min-width: $ssLaptop) {
      border-radius: $sp80;
    }
  }

  .profile-image {
    height: 400px;
    width: 100%;
    object-fit: cover;
    @media screen and (min-width: $ssLaptop) {
      width: 600px;
      height: 800px;
    }
  }

  

  .case-image-full {
    height: 400px;
    width: 100%;
    object-fit: cover;
    @media screen and (min-width: $ssLaptop) {
      width: 100%;
      height: 800px;
    }
  }
  .case-image-left {
    @extend .profile-image;
  }
  .case-image-right {
    @extend .profile-image;
    float: right;
  }