// Images
  .image-rounded {
    border-radius: $sp40;
    overflow: hidden;
    @media screen and (min-width: $ssLaptop) {
      border-radius: $sp80;
    }
  }

  .profile-image {
    height: 400px;
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @media screen and (min-width: $ssLaptop) {
      height: 800px;
    }
  }
  .case-image {
    height: 400px;
    width: 100%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @media screen and (min-width: $ssTablet) {
      height: 480px;
    }
    @media screen and (min-width: $ssLaptop) {
      height: 800px;
    }
  }
  .case-image-full {
    @extend .case-image;
  }
  .case-image-left {
    @extend .case-image;
  }
  .case-image-right {
    @extend .case-image;
    float: right;
  }