// Lists
  .list-header {
    border-bottom: 1px solid $clGrayLight;
    padding-bottom: $sp10;
    margin-bottom: $sp20;
  }
  .list-default {
    list-style: none;
    margin: 0;
    padding: 0;
    & + ul, & + ol {
      margin: $sp40 0 0;
    }

    li {
      display: flex;
      margin-bottom: $sp10;
    }
  }
  .list-item-avatar {
    background: $clGrayLight;
    border-radius: 36px;
    margin-right: $sp10;
    height: 36px;
    width: 36px;
  }
  .list-item-image {
    height: 520px;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .list-content {
    margin: 0;
    padding: 0;
    list-style: none; 
    display: flex;
    gap: $sp40;
    flex-direction: column;
  }
  .list-content > li {
    display: flex;
    flex-wrap: nowrap;
    gap: $sp10 $sp40;
    align-items: center;
    & > * {
      width: 50%;
    }
  }
  .list-content-header {
    border-bottom: 1px solid $clGrayLight;
    padding: 0 0 $sp40;
    margin: 0 0 $sp40;
  }
  .list-content-data {
    display: flex;
    flex-wrap: wrap;
    gap: $sp40;
    @media screen and (min-width: $ssLaptop) {
      flex-wrap: nowrap;
    }
    & > * {
      width: 50%;
    }
  }

  .list-tag {
    display: flex;
    gap: $sp20;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .list-people {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .list-people > li {
    @include bottom-border();
    padding: $sp60 0;
    position: relative;
    &:after {
      content: "\f31c";
      font: normal normal normal 1em/1 "Phosphor";
      @include font-size(36px);
      color: inherit;
      flex-shrink: 0;
      speak: none;
      text-transform: none;
      text-decoration: inherit;
      text-align: center;
      -webkit-font-smoothing: antialiased;
      @include vertical-center;
      right: 0;
      z-index: 0;
    }
  }
  .list-people a {
    position: relative;
    display: block;
    z-index: 1;
  }
