.section {
  @extend .grid;
  padding: $sp40 $sp20;
  @media screen and (min-width: $ssTablet) {
    padding: $sp40;
  }
}
.section-x-0 {
  @extend .section;
  padding-left: 0;
  padding-right: 0;
}
.section-y-0 {
  @extend .section;
  padding-top: 0;
  padding-bottom: 0;
}
.section-xy-0 {
  @extend .section;
  padding: 0;
}
.section-small {
  @extend .section;
  @media screen and (min-width: $ssTablet) {
    padding: $sp20 $sp40;
  }
}
.section-large {
  @extend .section;
  padding: $sp40 $sp20;
  @media screen and (min-width: $ssTablet) {
    padding: $sp80 $sp40;
  }
}

.section-dark {
  @extend .section;
  background: $clBlack;
  & > * {
    color: $clWhite;
  }
  a {
    color: $clWhite;
  }
}